@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;1,700&display=swap');

:root{
 --clr-intro: hsl(217, 28%, 15%);
 --clr--main-background:hsl(218, 28%, 13%);
 --clr-footer: hsl(216, 53%, 9%);
 --clr-testimonials: hsl(219, 30%, 18%);


 --clr-accent-100: hsl(176, 68%, 64%);
 --clr-accent-200: hsl(198, 60%, 50%);
 --clr-accent-300: hsl(228, 45%, 44%);
 --clr-error: hsl(0, 100%, 63%);

 --clr-neutral: hsl(0, 0%, 100%);

 
 --fs-tittle:4rem;
 --fs-title:2.52rem;
 --fs-main-heading:1.5rem;
 --fs-sub-heading:1.3rem;
 --fs-body:0.875rem;
 --fs-links:0.75rem;
}
@media(min-width:1440px){
    :root{
        --fs-title:4.2336rem;
        --fs-main-heading:2.5rem;
        --fs-sub-heading:1.5rem;
        --fs-body:0.875rem;
        --fs-links:0.8rem;
    }
}

*,
*::after,
*::before{
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-family: 'Open Sans', sans-serif;
}
body{
   background: var(--clr--main-background);
    color:var(--clr-neutral);
    font-size: var(--fs-body);
    line-height: 1.5;
    font-weight: 400;
    width:100vw;
}
ul,li{
    list-style: none;
}
a{
    text-decoration: none;
    font-size: var(--fs-links);
    cursor:pointer;
}
img{
    display:block;
    width:100%;
}
h1,
h2,
h3{
    overflow-wrap: break-word;
}
h1{
    font-size: var(--fs-main-heading);
    line-height: 1.1;
    font-weight: 700;
}
.container{
    width:min(1200px,80%);
    margin:auto;
}
.m-y{
    margin-top: 2rem;
}
.my-2{
    margin-top: 4rem;
}
.my-1{
    margin-block: 1rem;
}
.bg__accent{
    background-color: var(--clr-intro);
    width:100%;
}

header{
    position:relative;
    width:100%;
}

.logo{
    height:12vh;
    display: flex;
    padding: 1rem;
    justify-content: space-between;
    align-items: center;
}
.logo--img img{
    width:70%;
}
.logo ul{
    display:flex;
    gap:1rem;
    
}
.nav--primary li a{
    color:var(--clr-accent-300); 
}
.nav--primary li a:hover,
.nav--primary li a:focus{
   color:var(--clr-neutral);
}
.hero--section{
    position:absolute;
    top:26rem;
    left:0;
    text-align: center;
}
.header__img{
    width:70%;
    position: absolute;
    bottom:9rem;
    left:0;
}
.btn{
    display: inline-block;
    border-radius: 50vmax;
    font-size: var(--fs-body);
    font-weight:400;
    color: var(--clr-neutral);
    padding:1rem 0;
    line-height: 1;
}
.bg__hero--pattern{
    margin-top:18rem;

}

.btn--accent{
   background-image: linear-gradient(to right,var(--clr-accent-100),var(--clr-accent-200));
}
.btn--accent-sm{
    width:250px;

}
.center--items{
    display: grid;
    place-items: center;
    text-align: center;
}
.showcase--section{
    margin-top:15rem;
}
.showcase--section img{
    width:10%;
}
.sub--showcase img{
    width:80%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sub--showcase--link{
    display: flex;
    color:var(--clr-accent-100);
    position: relative;
}
.sub--showcase--link::before{
    content: '';
    position: absolute;
    width:8rem;
    height:0.1rem;
    bottom:-0.7rem;
    left:0;
    right: 0;
    background: var(--clr-accent-100);
}
.sub--showcase--link:hover ::before,
.sub--showcase--link:focus::before{
    color:var(--clr-neutral);
    background: var(--clr-neutral);
}
.sub--showcase .img--link{
    width:5%;
    margin-left:0.25rem;
}
.testimonial-section{
    display: grid;
    place-items: center;
    position: relative;
    margin-bottom:15rem;
}
.testimonial-section::before{
    content:url("bg-quotes.png");
    position:absolute;
    top:-1rem;
    left:1rem;
}
.card{
    background: var(--clr-testimonials);
    width:300px;
    border-radius:5px;
    padding:1rem  0.75rem;
    z-index: 1;

}
.profile img{
    width:10%;
    height:10%;
    border-radius: 50vmax;
    object-fit:cover;
}
.profile{
    display: flex;
    align-items: center;
    gap:0.5rem;
    font-size: var(--fs-links);
    margin-top:0.5rem;
}
.join--us-form{
    display: grid;
    place-items: center;
    position: relative;
    
}
.form--card{
    text-align: center;
    background  : var(--clr-testimonials);
    width: 350px;
    height:300px;
    padding:2rem 1.5rem;
    border-radius: 5px;
    position: absolute;
    top:-10rem;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
}
form input{
    width:250px;
    height: 40px;
    border-radius:5rem;
    outline:none;
    border:none;
    margin-bottom: 1rem;
    padding-inline:1rem ;
}

.btn--accent--lg{
    width:250px;
}
.footer--section{
    margin-top: 10rem;
}
.logo--footer--img img{
    width:15%;
}
.logo--footer--text {
    display:flex;
    gap:1rem;
    align-items: center;
    margin-top: 1rem;
}
.location{
    width:15%;
    align-self: flex-start;
}
.contact--us ul li{
    display: flex;
    align-items:center;
    margin-top:0.25rem ;

}
.contact--us img{
    width:5%;
    height:5%;
    margin-right:0.5rem;
}
footer{
    margin:0;
    height:auto;
    background-color: var(--clr-footer);
    padding:0.7rem 0.35rem;
}
footer a{
    color:var(--clr-neutral);
    font-size: var(--fs-links);
}
.social__links{
    text-align: center;
    width:100%;;
}
.social__links ul{
    display: flex;
    gap:0.5rem;
    margin-left:35%;
}
#facebook,
#twitter,
#instagram{
    width:30px;
    height:30px;
    border:1px solid var(--clr-neutral);
    border-radius: 50vmax;
    fill:var(--clr-neutral);
    padding:0.5rem;
}

@media (min-width:500px){
    .bg__accent{
        width:100vw;
    }
    .hero--section{
        width:100%;
        top:60rem;
    }
    .header__img{
        width:60%;
        top:5rem;
        left:24rem;

    }
    .bg__hero--pattern{
        margin-top: 40rem;
    }
    .showcase--section{
        display:grid;
        grid-template-columns: repeat(2,1fr);
        gap: 2rem;
        margin-inline: 3rem;
        margin-top: -0.25rem;
    }
    .sub--showcase{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap:2rem;
        margin-top: 3rem;
    }
    .testimonial-section{
        display: flex;
        justify-content:center;
        align-items: center;
        gap:8.5rem;
        margin-bottom: 10rem;

    }
    
    .form--card{
        width:min(80%,700px);
        position: absolute;
        top:-5rem;
    
    }
    form{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    form input{
        width:400px;
    }
    .btn--accent--lg{
        width:250px;
        align-self: flex-start;
    }
    .footer--section{
        display:grid;
        grid-template-columns: 2fr 1fr  1fr 1fr 1fr;
        padding:5rem 0;
    }
    .logo--footer--text{
        width:80%;
    }
    .social__links ul{
        display:flex;
    }

}